{{ include('/shared/header.twig') }}
{{ include('/shared/nav.twig') }}

<main>
    <div class="container">

        <div class="profile-table">
            <h2>{{ username }}'s classes</h2>
            <table class="table">
                <tr>
                    <th>Class</th>
                    <th>Day</th>
                    <th>Time</th>
                    <th></th>
                </tr>
                {% for class in classes %}
                    <tr>
                        <td>{{ class['Class_Name'] }}</td>
                        <td>{{ class['Day_of_Week'] }}</td>
                        <td>{{ class['Class_Time'] }}</td>
                        <td>
                            <form action="." method="post" id="delete_class">
                            <input type="hidden" name="Class_id" value="{{ class['Class_id'] }}">
                            <input type="hidden" name="Registered_Class_id" value="{{ class['Registered_Class_id'] }}">
                            <button class="btn btn-danger" type="submit" name="action" value="delete_class">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</main>
</body>
</html>