{{ include('/shared/header.twig') }}
{{ include('/shared/nav.twig') }}

<main>
    <div class="container">

        <div class="profile-table">
            <h2>{{ username }}'s classes</h2>
            <table class="table">
                <tr>
                    <th>Class</th>
                    <th>Day</th>
                    <th>Time</th>
                    <th></th>
                </tr>
                {% for class in classes %}
                    <tr>
                        <td>{{ class['Class_Name'] }}</td>
                        <td>{{ class['Day_of_Week'] }}</td>
                        <td>{{ class['Class_Time'] }}</td>
                        <td><button type="button" class="btn btn-danger">Delete</button></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</main>
</body>
</html>